<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0pX4cXPO5G-PvgXYBKseV-cHVtkbYuhw</string>
	<key>GCM_SENDER_ID</key>
	<string>1080783496208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jgoi.Journy</string>
	<key>PROJECT_ID</key>
	<string>journyapp-84e7f</string>
	<key>STORAGE_BUCKET</key>
	<string>journyapp-84e7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080783496208:ios:20dfa056f20ed2d9815695</string>
</dict>
</plist>